:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
* {
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background: #fcfcfc;
  }

  .contenedor {
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
  }

  .titulo {
    margin-bottom: 20px;
  }

  .opciones p {
    background: black;
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
  }

  p.p1 {
    position: absolute;
    top: 400px;
    left: 500px;
    width: 100px;
  }
  p.p1:hover {
    background: gray;
    cursor: pointer;
  }

  p.p2 {
    position: absolute;
    top: 400px;
    left: 750px;
    width: 100px;
  }
  p.p2:hover {
    background: gray;
    cursor: pointer;
  }
  #si {
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
  }
}
body {
  background: #fcfcfc;
}

.contenedor {
  margin: auto;
  width: 900px;
  margin-top: 300px;
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
}

.opciones p {
  background: black;
  display: initial;
  padding: 12px;
  color: #ffffff;
  border-radius: 2px;
  font-weight: bold;
}

p.p1 {
  position: absolute;
  top: 400px;
  left: 500px;
  width: 100px;
}
p.p1:hover {
  background: gray;
  cursor: pointer;
}

p.p2 {
  position: absolute;
  top: 400px;
  left: 750px;
  width: 100px;
}
p.p2:hover {
  background: gray;
  cursor: pointer;
}
#si {
  background: #515050;
  left: 420px;
  position: absolute;
  top: 122px;
  width: 550px;
  color: #ffffff;
  padding: 50px;
  display: none;
}
